.form_row {
    background: #6279A6;
    color: white;
    text-align: center;
}

.logout_btn {
    background: #213268;
    font-size: 11px;
}

.welcome_background {
    background: #213268;
    color: white;
}

.footer {
    background: white !important;
}

.footer img {
    height: 85px;
    text-align: center;
}

.footer h1 {
    color: #5A95D4;
}

.footer h2 {
    color: #213370;
}

.welcome_lg_btn {
    color: white;
    border: 1px solid white;
}

.svg_ok {
    color: white;
    background: white;
}

.questions_form h1 {
    font-size: 50px;
}

.questions_form img {
    height: 50px;
}

.questions_form h3 {
    font-family: 'Arial';
}

.margin_left50 {
    margin-left: 50px;
}

.question_checkbox {
    height: 47px;
    width: 32px;
}

#question_form label {
    font-size: 35px;
}

.question_ok_button {
    font-size: 30px;
    width: 27%;
}

.thank_you img {
    height: 60px;
}

.thank_you h1 {
    font-size: 60px;
    padding-top: 300px;
    padding-bottom: 300px;
}

/*MOb version*/
@media (max-width: 768px) {

    .form_row h4 {
        font-size: 10px;
        padding-top: 7px;
    }

    .welcome_background h2 {
        font-size: 25px;
    }

    .footer img {
        height: 45px;
    }

    .footer h1 {
        color: #5A95D4;
        font-size: 14px;
    }

    .pd-L {
        padding-left: 194px;
    }
    .thank_you h1 {
        font-size: 36px;
        padding-top: 105px;
        padding-bottom: 300px;
    }
    .thank_you img {
        height: 33px;
    }
}